---
import placeData from '../data/places.json';

const currentYear = new Date().getFullYear();
---

<footer class="site-footer">

	<nav class="row padding-x-3 site-places">
		<div class="col-s-12">
			<header>Places</header>
			<ul>
				{ Object.values(placeData).map((place) => (
					<li><a href={`/places/${place.slug}`}>{place.fullname}</a></li>
				))}
			</ul>
		</div>
	</nav>

	<div class="row padding-x-3">
		<div class="col-s-12">
			<p>Trail Coffee is produced by <a href="https://www.smithscott.net">Scott Smith</a> &copy; {currentYear}</p>
		</div>
	</div>

</footer>