<nav class="pagination row row-spaced margin-x-2" aria-label="Pagination">
	{% if pagination.nextPageHref %}
	<a href="{{ pagination.nextPageHref }}">Older Posts</a>
	{% endif %}

	{% if pagination.previousPageHref %}
	<a href="{{ pagination.previousPageHref }}">Newer Posts</a>
	{% endif %}
</nav>