{% set titleHeading = 'h2' %}

<article class="post-card">
	{% if placeName !== "" %}
		{% set titleHeading = 'h3' %}
		<header class="post-card-header" style="border-top: 4px solid {{ placeName.color }}">
			<h2><a href="/places/{{ placeName.slug }}/">{{ placeName.fullname }}</a></h2>
		</header>
	{% endif %}
	<a href="{{ post.url }}" class="post-card-img" aria-label="{{ post.data.title }}">
		<img srcset="{% imgPath post.data.image, '400', '400', 'fill' %} 1x, {% imgPath post.data.image, '800', '800', 'fill' %} 2x" width="400" height="400" alt="{{ post.data.title }}" />
	</a>
	<div class="post-card-meta">
		<{{ titleHeading }} class="post-title"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></{{ titleHeading }}>
		<p class="excerpt">{{ post.data.excerpt | safe }}</p>
	</div>
</article>