---
import { Cloudinary } from 'astro-cloudinary-image';

const { post } = Astro.props;
---
<article class="post-card">
	<header class="post-card-header" style="border-top: 4px solid ">
		<h2><a href="/places/">{ post.data.tags }</a></h2>
	</header>

	<a href={post.data.permalink} class="post-card-img" aria-label="{ post.data.title }">

		<Cloudinary 
      width="800"
      height="800"
      resize="fill"
      alt={ post.data.title }
      src={ post.data.image }
			errorImage=''
    />

	</a>
	<div class="post-card-meta">
		<div class="post-title"><a href={post.data.permalink}>{ post.data.title }</a></div>
		<p class="excerpt">{ post.data.excerpt }</p>
	</div>
</article>