---
import { Cloudinary } from 'astro-cloudinary-image';
import placesData from '../data/places.json';
const { post } = Astro.props;

const placeTag = placesData[post.data.tags];
---
<article class="post-card">
	<header class="post-card-header" style={`border-top: 4px solid ${placeTag.color}`}>
		<h2><a href={`/places/${placeTag.slug}`}>{ placeTag.fullname }</a></h2>
	</header>

	<a href={`/${post.data.slug}`} class="post-card-img" aria-label="{ post.data.title }">
		<Cloudinary 
      width="800"
      height="800"
      resize="fill"
      alt={ post.data.title }
      src={ post.data.image }
			errorImage=''
    />
	</a>
	<div class="post-card-meta">
		<div class="post-title"><a href={`/${post.data.slug}`}>{ post.data.title }</a></div>
		<p class="excerpt">{ post.data.excerpt }</p>
	</div>
</article>