<section class="results" x-data="results">
  <template x-if="searchResults.length > 0" x-for="item in searchResults" :key="item.slug">
    <div class="result">
      <div class="result__title"><a :href="`/${item.slug}`" x-text="item.fullname"></a></div>
    </div>
  </template>
</section>

<script>
  import Alpine from 'alpinejs';

  Alpine.data('results', () => {
    return {
      keyword: '',
      searchResults: [],
      init(){
        const URLparams = new URLSearchParams(location.search);
        this.keyword = URLparams.get('keyword');

        fetch('/data/places.json')
          .then(response => response.json())
          .then(res => {
            this.getResults(res);
          });
      },
      getResults(res){
        if(this.keyword.length > 3){
          const searchData = JSON.parse(JSON.stringify(res));
          this.searchResults = searchData.filter((item) => {
            return item.fullname.toLowerCase().includes(this.keyword) == true;
          });
        }
      }
    }
  });

</script>