<form class="site-search-wrapper" action="/search">

	<label for="site-search" class="sr-only">Search</label>
	
	<input 
		id="site-search" 
		name="keyword" 
		type="search" 
		placeholder="Search Trail Coffee" 
		class="site-search-field" 
	/>

</form>