.special-message {
	background: black;
	color: white;

	@media (min-width: 768px){
		text-align: center;
		font-size: 18px;
	}
}

a {
	color: var(--link-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.button {
	display: inline-block;
	border: 1px solid var(--color1);
	color: var(--color1);
	font-family: var(--primary-font);
	font-weight: normal;
	line-height: 1;
	font-size: 1rem;
	padding: 0.75rem 1rem 0.5rem 1rem;

	&:hover {
		text-decoration: none;
		background-color: var(--color1);
		color: white;
	}
}



.sr-only {
	display: none;
}