@font-face {
    font-family: 'National Park';
    src: url('/assets/fonts/nationalpark-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Besley';
    src: url('/assets/fonts/besley-fatface.woff') format('woff');
    font-weight: normal;
    font-style: bold;
    font-display: swap;
}