---
import Base from './Base.astro';

const { frontmatter } = Astro.props;
---
<Base title={frontmatter.title}>
  <article class="post-article">
		<header class="post-header">
			<h1 class="margin-x-0">{ frontmatter.title }</h1>
			<h2 class="margin-x-0">{ frontmatter.excerpt }</h2>
			<p>{ frontmatter.tags }</p>
		</header>

		<!-- {% if image %}

			{% set imgID = image | getImgID %}
			{% set imgMeta = imageData[imgID] %}
			<aside class="post-featured-image">
				<picture>
					<source srcset="{% imgPath image, '2400', '', 'fit' %}" media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" />
					<img src="{% imgPath image, '1200', '', 'fit' %}" width="{{ imgMeta.width }}" height="{{ imgMeta.height }}" />
				</picture>
			</aside>
		{% endif %} -->

		<div class="post-content">
			<slot />

			<!-- {% if coords %}
				<div id="map" class="post-map-view" data-coords="{{ coords }}" data-geojson="{{ geojson }}"></div>
			{% endif %} -->

			<!-- {% if images %}
				<div class="post-image-gallery">
					{% for img in images %}
						{% set imgID = img.image | getImgID %}
						{% set imgMeta = imageData[imgID] %}

						<picture>
							<source srcset="{% imgPath img.image, '1200', '', 'fit' %}" media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" />
							<img src="{% imgPath img.image, '600', '', 'fit' %}" width="{{ imgMeta.width }}" height="{{ imgMeta.height }}" loading="lazy" />
						</picture>
					{% endfor %}
				</div>
			{% endif %} -->
		</div>

	</article>
</Base>
